
font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/static/Montserrat-Regular.ttf'); /* Replace 'path/to/Montserrat-Regular.ttf' with the actual path to your font file */
}

.white-bg{
    -fx-background-color: #fff;
}

.border-top{
    -fx-border-color: #000;
    -fx-border-width: .5px 0 .4px 0;
}

.radius{
    -fx-background-radius: 8px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.header-2{
    -fx-border-color: linear-gradient(to right, #5c6bc0, #512da8);
    -fx-border-width: 0 0 0 2px;
    -fx-padding: 0 0 0 5px;
}

.bg-color-2{
    -fx-background-color: linear-gradient(to right, #5c6bc0, #512da8);
}

.nav-btn-2{
    -fx-background-color: transparent;
    -fx-border: none;
    
    -fx-text-fill: #fff;
    -fx-font-family: 'Montserrat', sans-serif;
    
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-alignment: CENTER_LEFT;
}
.nav-btn-2:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.icon-hover:hover {
    -fx-fill: black; /* Change the color to red on hover */
}

.table-view{
    -fx-padding: 0;
    -fx-border-radius: 8px;
    -fx-border-color: linear-gradient(to right, #5c6bc0, #512da8);
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to right, #5c6bc0, #512da8);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0 0 ;
}
.table-view .column-header, .filter{
    -fx-size: 40px;
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-text-fill: #fff;
}

.btn-2{
    -fx-background-color: linear-gradient(to right, #5c6bc0, #512da8);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 14px;
    
}
.btn-2:hover{
    -fx-background-color: linear-gradient(to right, #5c6bc0, #512da8);
}

.text{
	-fx-font-family: 'Montserrat', sans-serif;
	-fx-font-size: 13px;
}

.text-2{
	
	-fx-font-family: 'Montserrat', sans-serif;
	-fx-font-style: italic;
	-fx-font-weight: 600;
	-fx-font-size: 22px;
}

.text-3{
	-fx-font-family: 'Montserrat', sans-serif;
	-fx-font-size: 23px;
	
}

.label-size {
    -fx-font-size: 16px; /* Adjust the font size as needed */
}

.textfield-2{
    
    -fx-background-color:#eee;
    -fx-border:none;
    -fx-border-radius:3px;
    -fx-outline: none;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 13px;
}
.textfield-2:focused{
    -fx-border-color: linear-gradient(to right, #5c6bc0, #512da8);
    -fx-border-width: 1px;
}

.search{
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
    -fx-padding: 0 0 0 25px;
}
.search:focused{
    -fx-border-color: linear-gradient(to right, #5c6bc0, #512da8);
    -fx-border-width: 1px;
}